<head>
  <script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
</head>
<h1 id="left"> Select animals:</h1>
<div class="dropdown_menus">
  <div>
    <select #cliniqueId class="browser-default custom-select" (change)="getProprietairesId()" style="width: 300px;">
      <option selected>Numéro clinique</option>
      <option *ngFor="let clinique of cliniquesId">{{clinique.numclinique}}</option>
    </select>
  </div>
  <div>
    <select #proprietaireId class="browser-default custom-select" (change)="getAnimalsId()" style="width: 300px;">
      <option selected>Numéro proprietaire</option>
      <option *ngFor="let proprietaire of proprietairesId">{{proprietaire.numproprietaire}}</option>
    </select>
  </div>
  <div>
    <select #animalId class="browser-default custom-select" (change)="setButtons()" style="width: 300px;">
      <option selected>Numéro animal</option>
      <option *ngFor="let animal of animalsId">{{animal.numanimal}}</option>
    </select>
  </div>
</div>
<div class="buttons_but">
  <div><button #button1 id="Button1" type="button" class="btn btn-warning" (click)="setComponent('modify')" disabled>Modifier</button></div>
  <div><button #button2 id="Button2" type="button" class="btn btn-danger" (click)="deleteAnimal()" disabled>Supprimer</button></div>
  <div><button #button3 id="Button3" type="button" class="btn btn-success" (click)="setComponent('treatment')" disabled>Liste traitements</button></div>
  <div><button #button4 id="Button4" type="button" class="btn btn-primary" (click)="setComponent('receipt')" disabled>Générer facture</button></div>
</div>

<div *ngIf="this.modify"><p>modify</p></div>
<div *ngIf="this.delete"><p>delete</p></div>
<div *ngIf="this.treatment"><p>treatment</p></div>
<div *ngIf="this.receipt"><p>receipt</p></div>