<!--The content below is only a placeholder and can be replaced.-->



<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand title" href="/">INF3710-TP5</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/select-animal">Select Animal</a>
        <a class="nav-item nav-link active" routerLink="/add-animal">Add Animal</a>
      </div>
    </div>
  </nav>

<div style="text-align:center">
<div *ngIf="route == ''">
  <button type="button" class="btn btn-danger" (click) ="createDB()">Create Database</button>
</div>

<router-outlet></router-outlet>


<div id="ht" style="text-align:center" *ngIf="route == ''">
  <div>
    <input type="text" id="animal-name" [(ngModel)]="animalName">
  </div> 
  <button type="button" class="btn btn-primary" (click)="getAnimalsByName()">Get Animals</button>
  <table id ="ht" align="center" border="1" width="350">
    <thead>
      <th> NUMÉRO ANIMAL </th>
      <th> NUMÉRO PROPRIÉTAIRE </th>
      <th> NUMÉRO CLINIQUE </th>
      <th> NOM </th>
      <th> TYPE ANIMAL </th>
      <th> DESCRIPTION </th>
      <th> DATE DE NAISSANCE </th>
      <th> DATE D'INSCRIPTION </th>
      <th> ÉTAT ACTUEL </th>
    </thead>
    <tbody>
      <tr *ngFor="let animal of animals">
        <td> {{animal.numanimal}}</td>
        <td> {{animal.numproprietaire}} </td>
        <td> {{animal.numclinique}} </td>
        <td> {{animal.nom}} </td>
        <td> {{animal.typeanimal}} </td>
        <td> {{animal.description}} </td>
        <td> {{animal.datenaissance}} </td>
        <td> {{animal.dateinscription}} </td>
        <td> {{animal.etatactuel}} </td>
      </tr>
    </tbody>
  </table>
</div>


